:root{
    --mau-f-grid-col: rgba(184,245,114,0.883);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.fixed-header{
    /* min-height: 33vh;
    width: 100%;
    background: linear-gradient(to bottom right, green, rgba(74, 207, 136));
    background-position: center ;
    background-size: cover;
    position: fixed;        */
    
    top: 0;
    width: 100%;
    position: fixed;        
    background-color:rgba(74, 207, 136);
    padding: 15px 0;

    
}
.strCuon{
    color:white;
    text-align:center;
}
.tenbai{
    color:yellow;
    text-align:center;
}
#circlein {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 1px 15px lightblue;
    } 
.mic-icon {
    height: 24px;
    position: center;
    margin-top:4px;
    margin-left:3px;
}
.mic-iconub {
    height: 24px;
    /* position: center; */
    margin-top:4px;
    margin-left:3px;
}
#words{
    color:yellow;
    text-align:center;
}
nav{
    display: flex;
    /* display: inline; */
    padding: auto;
    justify-content: space-between;
    align-items: top;
    color:brown;
    margin-left: 3%;
    margin-right: 3%;

} 
.footer{
    min-height: 14vh;
    width: 100%;
    background: linear-gradient(to bottom right, green, rgba(74, 207, 136));
    background-position: center ;
    background-size: cover;
    text-align: center;
    color:pink;
    bottom: 0;
} 
.gioithieu{
    width: 70%;
    margin: auto;
    /* text-align: center;  */
    padding: 8px;
}
h1{
    font-size: 24px;
    font-weight: 600;
}
p{
    color: brown;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px ;
}
.cangiua-divActive{
    text-align: center;
}
p {font-size: 14pt;}
.f-grid {
    display: flex;
    justify-content: space-between;
    margin-left:-0.5rem;
    flex-flow: row wrap;}
.f-grid-col {
    flex: 3 0;
    background-color: var(--mau-f-grid-col);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 13pt;}
.f-grid-colkhac{
    flex: 3 0;
    background-color: rgba(230, 208, 224, 0.883);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 13pt;}
.f-grid-1dong{
    background-color: rgb(147, 147, 224);
    color:yellow;
    text-align: center;

}
.tdgioithieu{
    text-align: center;
    color:darkblue;
}
#user-icon, #robot-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    opacity: 0.5;  
    filter: alpha(opacity=50);
    /* color:white;
    background-color: #777; */
  }
  /* #user-icon:hover, #robot-icon:hover{
    opacity: 1.0;  
    filter: alpha(opacity=100);
  }   */
  #listen-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
  }
