*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.fixed-header{
    /* min-height: 33vh;
    width: 100%;
    background: linear-gradient(to bottom right, green, rgba(74, 207, 136));
    background-position: center ;
    background-size: cover;
    position: fixed;        */
    
    top: 0;
    width: 100%;
    position: fixed;        
    background-color:rgba(74, 207, 136);
    padding: 15px 0;

    
}
.strCuon{
    color:rgb(231, 225, 225);
        text-align:center;
}
.tenbai{
    color:rgb(240, 240, 68);
    text-align:center;
}
#circlein {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 1px 15px lightblue;
    } 
.mic-icon {
    height: 24px;
    position: center;
    margin-top:4px;
    margin-left:3px;
}
#words{
    color:yellow;
    text-align:center;
}
nav{
    display: flex;
    padding: 3% 6%;
    justify-content: space-between;
    align-items: top;
    color:pink;
} 
.footer{
    min-height: 14vh;
    width: 100%;
    background: linear-gradient(to bottom right, green, rgba(74, 207, 136));
    background-position: center ;
    background-size: cover;
    text-align: center;
    color:pink;
    bottom: 0;
} 

